body{
	background-color: #000000;
}

#screen{
	position: relative;
}


#space_ship_area{
	position: absolute;
	bottom: 0;

}

#ship{
	position: relative;

}
.missle{
	position: absolute;
	visibility: hidden;

}