body{
	background-color: #000000;
}

#screen{
	position: relative;
	background-image: url("../img/stars_bg.jpg");
}


#space_ship_area{
	position: absolute;
	bottom: 0;

}

#ship{
	position: relative;

}
.missle{
	position: absolute;
	visibility: hidden;

}